// Copy this file to Configuration.swift and fill in the API key
// The API key can be obtained from https://www.themoviedb.org/settings/api
enum Configuration {
    static let apiBaseURL = "https://api.themoviedb.org/3"
    static let apiKey = "<API-KEY>"
    static let backdropBaseURL = "https://image.tmdb.org/t/p/w500"
    static let posterBaseURL = "https://image.tmdb.org/t/p/w200"
    static let avatarBaseURL = "https://image.tmdb.org/t/p/w200"
}
